.delete-button {
    background-color: darkred;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: red;
}
