<div class="top-bar">
  <button mat-button (click)="sidenav.toggle()">Menu</button>
  <div class="receboxd-logo" (click)="navigateToTelaInicial()">RECEBOXD</div>
  <div class="user-section">
    <div class="nickname" (click)="navigateToProfile()">{{ userNickname }} </div>
    <img src="assets/images/perfil-template.png" alt="User Image" class="user-image"/>
  </div>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list>
      <mat-list-item>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon aria-label="Fechar sidenav">close</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/perfil']">Perfil</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button [routerLink]="['/futebol']">Futebol</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/tenis']">Tênis</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/baseball']">Baseball</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/basquete']">Basquete</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button (click)="onLogout()">Sair</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <div>
      <label>
        Status da partida:
        <select [(ngModel)]="filterStatus" (change)="filterPartidas()">
          <option value="">Todos</option>
          <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
        </select>
      </label>
      
      <label>
        Pesquisar Campeonato:
        <input type="text" [(ngModel)]="searchQuery" (input)="filterPartidas()" />
      </label>
    </div>

      
      <div class="status-section" style="display: flex; justify-content: space-between;">

        <!-- Coluna para partidas finalizadas -->
      <div style="width: 30%;">
        <h2 style="text-align: center;">Finalizado</h2>
        <ng-container *ngIf="filteredPartidas['Finalizado']">
          <ng-container *ngFor="let championship of getChampionshipKeys('Finalizado')">
            <h3 style="text-align: center;">{{ championship }}</h3>
            <div *ngFor="let partida of filteredPartidas['Finalizado'][championship]" class="partida-card">
            <strong>{{ partida.teamA }} {{ partida.scoreA }} vs {{ partida.scoreB }} {{ partida.teamB }} <br> {{ partida.date }} <br> {{ partida.time }}</strong>
              <br><button (click)="onPartidaClick(partida)">Ver Detalhes</button>

              <div *ngIf="selectedPartida === partida">
                <h3>Detalhes da Partida</h3>
                <p>{{ selectedPartida.teamA }} vs {{ selectedPartida.teamB }}</p>
                <p>Data: {{ selectedPartida.date }}</p>
                <p>Horário: {{ selectedPartida.time }}</p>
                <p>Campeonato: {{ selectedPartida.championshipName }}</p>
                <p>Fase: {{ selectedPartida.phase }}</p>
                <p>Estádio: {{ selectedPartida.stadium }}</p>
                <p>Localização: {{ selectedPartida.location }}</p>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

         <!-- Coluna para partidas ao vivo -->
      <div style="width: 30%;">
        <h2 style="text-align: center;">Ao-Vivo</h2>
        <ng-container *ngIf="filteredPartidas['Ao-Vivo']">
          <ng-container *ngFor="let championship of getChampionshipKeys('Ao-Vivo')">
            <h3 style="text-align: center;">{{ championship }}</h3>
            <div *ngFor="let partida of filteredPartidas['Ao-Vivo'][championship]" class="partida-card">
            <strong>{{ partida.teamA }} {{ partida.scoreA }} vs {{ partida.scoreB }} {{ partida.teamB }}</strong>
            <br><button style="background-color: black; color: rgb(164, 248, 7);" (click)="onPartidaClick(partida)">Ver Detalhes</button>

              <div *ngIf="selectedPartida === partida">
                <h3>Detalhes da Partida</h3>
                <p>{{ selectedPartida.teamA }} vs {{ selectedPartida.teamB }}</p>
                <p>Data: {{ selectedPartida.date }}</p>
                <p>Horário: {{ selectedPartida.time }}</p>
                <p>Campeonato: {{ selectedPartida.championshipName }}</p>
                <p>Fase: {{ selectedPartida.phase }}</p>
                <p>Estádio: {{ selectedPartida.stadium }}</p>
                <p>Localização: {{ selectedPartida.location }}</p>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <!-- Coluna para eventos futuros -->
      <div style="width: 30%;">
        <h2 style="text-align: center;">Evento Futuro</h2>
        <ng-container *ngIf="filteredPartidas['Evento Futuro']">
          <ng-container *ngFor="let championship of getChampionshipKeys('Evento Futuro')">
            <h3 style="text-align: center;">{{ championship }}</h3>
            <div *ngFor="let partida of filteredPartidas['Evento Futuro'][championship]" class="partida-card">
            <strong>{{ partida.teamA }} vs {{ partida.teamB }} <br>{{ partida.date }} <br> {{ partida.time }}</strong>
              <br><button style="background-color: black; color: rgb(164, 248, 7);" (click)="onPartidaClick(partida)">Ver Detalhes</button>

              <div *ngIf="selectedPartida === partida">
                <h3>Detalhes da Partida</h3>
                <p>{{ selectedPartida.teamA }} vs {{ selectedPartida.teamB }}</p>
                <p>Data: {{ selectedPartida.date }}</p>
                <p>Horário: {{ selectedPartida.time }}</p>
                <p>Campeonato: {{ selectedPartida.championshipName }}</p>
                <p>Fase: {{ selectedPartida.phase }}</p>
                <p>Estádio: {{ selectedPartida.stadium }}</p>
                <p>Localização: {{ selectedPartida.location }}</p>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="upper-right-buttons">
      <button [routerLink]="['/basquete-prognosticos']">Prognósticos</button>
      <button [routerLink]="['/basquete-noticias']">Notícias</button>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>