<div class="top-bar">
  <button mat-button (click)="sidenav.toggle()">Menu</button>
  <div class="receboxd-logo" (click)="navigateToTelaInicial()">RECEBOXD</div>
  <div class="user-section">
    <div class="nickname" (click)="navigateToProfile()">{{ userNickname }} </div>
    <img src="assets/images/perfil-template.png" alt="User Image" class="user-image"/>
  </div>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list>
      <mat-list-item>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon aria-label="Fechar sidenav">close</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/perfil']">Perfil</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button [routerLink]="['/futebol']">Futebol</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/tenis']">Tênis</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/baseball']">Baseball</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/basquete']">Basquete</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button (click)="onLogout()">Sair</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  

  <mat-sidenav-content>
    <button mat-icon-button class="popup-button" *ngIf="currentUser?.userType === 'jornalista'" (click)="openModal()">
      + Adicionar Prognóstico
    </button>
    <div class="modal" *ngIf="showModal">
      <div class="modal-content">
          <div class="close-container">
              <span class="close" (click)="closeModal()">&times;</span>
          </div>
          <div *ngIf="currentUser?.userType === 'jornalista'">
      <form (ngSubmit)="postPrognostico(prognosticoForm)" #prognosticoForm="ngForm">
        <div>
          <label for="titulo">Título</label>
          <input type="text" id="titulo" name="titulo" [(ngModel)]="prognosticoFormModel.titulo" required>
        </div>
        
        <div>
          <label for="conteudo">Conteúdo</label>
          <textarea id="conteudo" name="conteudo" [(ngModel)]="prognosticoFormModel.conteudo" required></textarea>
        </div>
    
        <div>
          <label for="campeonato">Campeonato:</label>
          <input type="text" id="campeonato" name="campeonato" [(ngModel)]="prognosticoFormModel.campeonato" required>
        </div>
    
        <div>
          <label for="esporte">Esporte</label>
          <select id="esporte" name="esporte" [(ngModel)]="prognosticoFormModel.esporte" required>
            <option value="Futebol">Futebol</option>
            <option value="Basquete">Basquete</option>
            <option value="Baseball">Baseball</option>
            <option value="Tênis">Tênis</option>
          </select>
        </div>
        
        <button type="submit" [disabled]="!prognosticoForm.form.valid">
          {{ prognosticoFormModel.id ? 'Atualizar Prognóstico' : 'Postar Prognóstico' }}
        </button>
      </form>
    </div>
  </div>
    </div>
    
    
    
    <div *ngIf="currentUser?.userType === 'usuario' || currentUser?.userType === 'jornalista'">
      <div *ngFor="let prognostico of prognosticos">
        <ng-container *ngIf="prognostico.esporte === 'Tenis'">
          <div class="prognostico-card">
            <img src="assets/images/carlitos.png" alt="Imagem da Prognóstico" class="prognostico-image"/>
            <div class="prognostico-content">
              <h2>{{ prognostico.titulo }}</h2>
              <p>{{ prognostico.conteudo }}</p>
              <p><strong>Campeonato:</strong> {{ prognostico.campeonato }}</p>
            </div>
            <ng-container *ngIf="currentUser?.userType === 'jornalista'">
              <button style="background-color: black; color: rgb(164, 248, 7); margin-right: 10px"(click)="editPrognostico(prognostico)">Editar</button>
              <button style="background-color: black; color: rgb(164, 248, 7);"(click)="deletePrognostico(prognostico.id)">Excluir</button>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
